<div class="header">
    <div class="logo_div">
        <img id="logo" src="/assets/images/ibm-logo-black-and-white.png" class="header_logo" alt="logo" />
    </div>
    <div class="title_div">
        <span><b>AP - ELITE Activities</b></span>
    </div>
</div>
<div class="menu">
    <div id="data-menu" class="menu-box" (click)="menuClickData()">Data</div>
    <div id="analytics-menu" class="menu-box" (click)="menuClickAnalytics()">Analytics</div>
    <div id="test-menu" class="menu-box" (click)="menuClickTest()">Test</div>
</div>