.field {
    margin: 10px;
}

.reports-form-container {
    text-align: center;
}


.report-unit-tr {
    padding: 10px;
}

.report-unit-tr > span {
    cursor: pointer;
}

.wide-area {
    min-width: 180px;
    width: 80%;
}

table, th, td {
    border: 1px solid lightgrey;
  }