kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend-core
  labels:
    app: backend-core
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-core
      tier: backend
      track: stable
  template:
    metadata:
      labels:
        app: backend-core
        tier: backend
        track: stable
    spec:
      containers:
      - name: backend-core
        image: docker.io/sujoysett/engagement-tracker-backend-core:v1
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: db-config
        ports:
          - containerPort: 8080
        resources:
          limits:
            cpu: 250m
            memory: 128Mi
          requests:
            cpu: 250m
            memory: 64Mi

---

apiVersion: v1
kind: Service
metadata:
  name: backend-ui-service
spec:
  selector:
    app: backend-core
    tier: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080

---

    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: db-config
      labels:
        app: backend-core
    data:
      POSTGRESQL_DB: postgres
      POSTGRESQL_HOST: 9.30.44.117
      POSTGRESQL_PASSWORD: Passw0rd
      POSTGRESQL_PORT: '5432'
      POSTGRESQL_SCHEMA: public
      POSTGRESQL_USER: admin
