kind: Deployment
apiVersion: apps/v1
metadata:
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  replicas: 1
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:latest
        imagePullPolicy: "IfNotPresent"
        envFrom:
        - configMapRef:
            name: postgres-config
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgredb
      volumes:
      - name: postgredb
        persistentVolumeClaim:
          claimName: postgres-pv-claim
---
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: postgres-config
    labels:
      app: postgres
  data:
    POSTGRES_DB: postgresdb
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRESQL_HOST: postgres
    POSTGRESQL_PORT: "30432"
    POSTGRESQL_SCHEMA: public
    PGDATA: /var/lib/postgresql/data/pgdata
---
  apiVersion: v1
  kind: Service
  metadata:
    name: postgres
    labels:
      app: postgres
  spec:
      ports:
      - name: postgres
        port: 5432
        nodePort: 30432
      type: NodePort
      selector:
        app: postgres