kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend-core
  labels:
    app: backend-core
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-core
      tier: backend
      track: stable
  template:
    metadata:
      labels:
        app: backend-core
        tier: backend
        track: stable
    spec:
      containers:
      - name: backend-core
        image: docker.io/sujoysett/engagement-tracker-backend-core:v1
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
        resources:
          limits:
            cpu: 250m
            memory: 128Mi
          requests:
            cpu: 250m
            memory: 64Mi
