table {
    min-width: 100%;
}

/* .add-button {
    position: absolute;
    bottom: 50px;
    margin-left: 20px;
    height: 40px;
    width: 50px;
    background-color: #d02670;
    color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

.add-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.mat-table {
    overflow-x: scroll;
    display: block;
    width: 100%;
}
  
.mat-cell, .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
  
.mat-row, .mat-header-row {
    display: table-row;
    white-space: inherit;
}

.icon-style-1 {
    padding: 0px 10px;
    cursor: pointer;
}

.icon-style-2 {
    color: #225555;
    padding: 0px 10px;
    cursor: pointer;
}

/* .icon-style-2:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */